/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 31, 2016, 5:10:25 PM
    Author     : Ryan
*/
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
    background-color: #f5f5f5;
}

h1 {
    font-size: 48px;
    text-align: center;
}

.leaguetable {
    
}

table{
    background-color: white;
}

/*td {
    padding: 5px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

tr {
    border-bottom: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    border-collapse: collapse;
}*/

.tabletitle {
    color:red;
}

tr:hover td {
    background-color: #d3d3d3;
}

.tableheader {
    padding: 5px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.clspot {
    background-color: skyblue;
}

.elspot {
    background-color: orange;
}

.relegation {
    background-color: red;
}

.wrappertableleft {
    border:none;
    padding-right: 90px;
}

.wrappertableright {
    border:none;
    padding-left: 40px;
}

.ltable {
    width: 400px;
}

#cllegend {
    background-color: skyblue;
    font-size: 16px;
    height: 20px;
    width: 200px;
    margin-bottom: 10px;
    margin-right: 5px;
    float: left;
}

#ellegend {
    background-color: orange;
    font-size: 16px;
    height: 20px;
    width: 209px;
    margin-bottom: 10px;
    margin-right: 5px;
    float: left;
}

#rellegend {
    background-color: red;
    font-size: 16px;
    height: 20px;
    width: 209px;
    margin-right: 5px;
    float: left;
}

#legendcontainer {
    width: 700px;
    float: right;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #1485CC;
    color: white;
    cursor: pointer;
    width: 100px;
    padding: 15px;
    border-radius: 10px;
}

#myBtn:hover {
    background-color: #0971B2;
}

.padderDiv {
    padding-bottom:  10px solid #f5f5f5;
    padding-top: 10px solid #f5f5f5;
    color: #f5f5f5;
    border-bottom: 10px solid #f5f5f5;
    border-top: 10px solid #f5f5f5;
}

.legendtext {
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1485CC;
  
}

li {
    float: left;
    border-right:1px solid;
    border-color: gainsboro;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #0971B2;
}

#active {
    background-color: #C92A2A;
}


