body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1 {
    font-size: 64px;
    text-align: center;
}

h2 {
    font-size:36px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1485CC;
}

li {
    float: left;
    border-right:1px solid;
    border-color: gainsboro;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #0971B2;
}

#active {
    background-color: #C92A2A;
}

ol li {
    float:none;
}

#premlist {
    float:left;
}

#ligalist {
    float:right
}

#bundeslist {
    float:right;
    padding-right: 30px;
}

#serielist {
    float: left;
    padding-left: 30px;
}
